{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block content %}
<form action="/device" method="post">
    <label for="user_id">user_id:</label>
    <input type="text" id="user_id" name="user_id" value="{{ user_id }}"><br>
    <label for="password">password:</label>
    <input type="password" id="password" name="password" value="{{ password }}"><br>
    <label for="user_code">user_code:</label>
    <input type="user_code" id="user_code" name="user_code" value="{{ user_code }}"><br>
    <input type="submit" value="Login">
</form>
{% endblock %}
